---
import LayoutDefault from "~/layouts/LayoutDefault.astro";

import { Image } from "astro:assets";
import profileImg from "../assets/images/profile.jpg";

import CTF from "~/components/CTF.astro";
import Skills from "~/components/Skills.astro";
import Badges from "~/components/Badges.astro";
---

<LayoutDefault>
    <section class="">
        <div class="flex flex-col md:flex-row items-start">
            <div class="flex-shrink-0 mb-4 md:mb-0 md:w-1/3">
                <h2 class="text-[34px] mb-7">WHO AM I</h2>
                <p class="text-[17px] font-normal text-justify leading-6 mb-6">
                    Hello! I'm Tobias, a 19-year-old cybersecurity enthusiast
                    based at Argentina. I've always been passionate about
                    technology, which led me to pursue a Technical Degree in Computer Networks at UNO University. I
                    discovered a strong interest in cybersecurity, particularly
                    penetration testing. I'm excited to continue learning and
                    growing in this field, while contributing to the cybersecurity community.
                </p>
            </div>
            <div class="flex flex-col md:w-2/3 md:items-end">
                <div class="sm:mt-7">
                    <Image
                        src={profileImg}
                        alt="Imagen"
                        class="w-full md:w-[450px] h-auto object-cover"
                    />
                </div>
            </div>
        </div>        
    </section>
    <CTF />
    <Skills />
    <Badges />
</LayoutDefault>
