---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import Post from '~/components/Post.astro'
import { getPosts, getPostDescription } from '~/utils'
import Pagination from '~/components/Pagination.astro'

const posts = (await getPosts()).slice(0, 5)

const { translate: t } = Astro.locals

---

<LayoutDefault>
  <div class="lg:mt-0 mt-[-30px] mb-[40px] lg:max-w-2xl">
    <p class="text-[19px] font-semibold leading-6">Tobias G. Fioroni a.k.a yw4rf, is a freelance developer with 19yo based in Argentina with a deep passion for programming, hardware and cybersecurity. He is currently pursuing a degree in Cybersecurity at UNO University in Buenos Aires and is working towards obtaining the ISC2 CC certification (Certified in Cybersecurity)</p>
    </div>
  <section contain-layout un-flex="~ col gap-7.5">
    {
      posts.map((post) => (
        <Post post={post}>
          <p class="line-clamp-4">{getPostDescription(post)}</p>
        </Post>
      ))
    }
    <Pagination showLeft={false} showPageCount={false} rightTitle={t('all_posts')} rightUrl={'posts/page/1'} />
  </section>
</LayoutDefault>
