<div class="bg-[#4242421a] mt-16 pb-[7px] pt-[40px] rounded-[8px] px-[6px]">
    <h2 class="text-xl sm:text-2xl font-semibold mb-5 absolute mt-[-55px]">
        🎖️ Badges
    </h2>
    <div class="mt-2">
        <div class="ml-3 flex flex-wrap gap-x-6 gap-y-4 cards-style">
            <div class="">
                <div
                    data-iframe-width="120"
                    data-iframe-height="215"
                    data-share-badge-id="96e0b6f5-399c-4859-a74f-7edb83c3b675"
                    data-share-badge-host="https://www.credly.com"
                >
                </div>
                <script
                    type="text/javascript"
                    async
                    src="//cdn.credly.com/assets/utilities/embed.js"></script>
            </div>
            <div class="">
                <div
                    data-iframe-width="120"
                    data-iframe-height="215"
                    data-share-badge-id="c6e9e606-6ae9-452c-a0cd-fcd75c50e526"
                    data-share-badge-host="https://www.credly.com"
                >
                </div>
                <script
                    type="text/javascript"
                    async
                    src="//cdn.credly.com/assets/utilities/embed.js"></script>
            </div>
            <style>
                @media (max-width: 340px) {
                    .cards-style {
                        justify-content: center;
                        margin-left: 0;
                    }
                }
            </style>
        </div>

        <div class="flex flex-wrap mb-4 mt-9 ml-3">
            <a class="text-[#FFFFFF]" href="/certs">See all my certifications</a
            >
        </div>
    </div>
</div>
