---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'footer'>

const { ...attrs } = Astro.props

const year = new Date().getFullYear()

const { website, author } = Astro.locals.config
---

<footer font-bold text-3 un-flex="~ col gap-1" un-lg="gap-3.5" {...attrs}>
  <a href="mailto:tobifgabriel@gmail.com">tobifgabriel@gmail.com</a> 
  <a href="https://linktr.ee/ywarf" target="_blank">linktr.ee/yw4rf</a> 
</footer>
