<div class="flex flex-col sm:flex-row sm:gap-x-12 bg-[#4242421a] mt-16 pb-[18px] pt-[40px] rounded-[8px] px-[6px]">
    <h2 class="text-xl sm:text-2xl font-semibold mb-5 absolute mt-[-55px]">
        ⚙️ Projects
    </h2>
    <a href="/works">See all my works</a>
</div>