---
/* No necesitas importar nada aquí si no estás usando Preact o React */
---

<button id="theme-toggle" class="icon-button" aria-label="Toggle theme">
    <i class="i-mdi-theme-light-dark"></i>
  </button>
  
  